.sg--page--newsInner {
    display: flex;
    flex-direction: column;
    gap: 70px;

    &-head {
        &--header {
            color: var(--black, #231F20);
            text-align: center;
            font-size: 44px;
            font-style: normal;
            font-weight: 600;
            line-height: 58px; /* 131.818% */
            letter-spacing: 0.44px;
        }
    }

    &-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            color: var(--gray-text, #707070);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */

            &:not(:first-child)::before {
                content: '';
                display: block;
                width: 1px;
                height: 25px;
                background: var(--gray-text, #707070);
            }
        }
    }

    &-body {
        color: var(--gray-text, #707070);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;

        & p,
        & span,
        & div {
            color: var(--gray-text, #707070) !important;
            font-size: 18px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 35px !important;
            font-family: "Inter", sans-serif !important;
        }
    }

    &-body img {
        max-width: 100%;
    }

    @media (max-width: 992px) {
        & {
            gap: 20px;

            &-head {
                &--header {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: unset;
                }
            }

            &-details {
                flex-direction: column;

                &-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;

                    font-size: 14px;
                    line-height: 26px;

                    &:not(:first-child)::before {
                        content: unset;
                    }
                }
            }

            &-body {
                color: var(--gray-text, #707070);
                font-size: 14px;
                line-height: 26px;

                & p,
                & span,
                & div {
                    color: var(--gray-text, #707070) !important;
                    font-size: 14px !important;
                    font-style: normal !important;
                    font-weight: 400 !important;
                    line-height: 26px !important;
                    font-family: "Inter", sans-serif !important;
                }
            }

            &-body img {
                max-width: 100%;
            }
        }
    }
}