$icomoon-font-family: "sg-admin-icons" !default;
$icomoon-font-path: "fonts" !default;

$sg-admin-icon-facebook-solid: unquote('"\\e900"');
$sg-admin-icon-facebook: unquote('"\\e901"');
$sg-admin-icon-linkedIn-solid: unquote('"\\e902"');
$sg-admin-icon-linkedin: unquote('"\\e903"');
$sg-admin-icon-instagram: unquote('"\\e904"');
$sg-admin-icon-github-solid: unquote('"\\e905"');
$sg-admin-icon-github: unquote('"\\e906"');
$sg-admin-icon-git-branch: unquote('"\\e907"');
$sg-admin-icon-git-commit: unquote('"\\e908"');
$sg-admin-icon-gitlab: unquote('"\\e909"');
$sg-admin-icon-git-merge: unquote('"\\e90a"');
$sg-admin-icon-git-pull-request: unquote('"\\e90b"');
$sg-admin-icon-angellist: unquote('"\\e90c"');
$sg-admin-icon-apple: unquote('"\\e90d"');
$sg-admin-icon-google: unquote('"\\e90e"');
$sg-admin-icon-twitter-solid: unquote('"\\e90f"');
$sg-admin-icon-twitter: unquote('"\\e910"');
$sg-admin-icon-clubhouse: unquote('"\\e911"');
$sg-admin-icon-discord: unquote('"\\e912"');
$sg-admin-icon-dribbble: unquote('"\\e913"');
$sg-admin-icon-codepen: unquote('"\\e914"');
$sg-admin-icon-codesandbox: unquote('"\\e915"');
$sg-admin-icon-pinterest: unquote('"\\e916"');
$sg-admin-icon-framer: unquote('"\\e917"');
$sg-admin-icon-reddit: unquote('"\\e918"');
$sg-admin-icon-signal: unquote('"\\e919"');
$sg-admin-icon-snapchat: unquote('"\\e91a"');
$sg-admin-icon-telegram: unquote('"\\e91b"');
$sg-admin-icon-tumblr: unquote('"\\e91c"');
$sg-admin-icon-youtube1: unquote('"\\e91d"');
$sg-admin-icon-slack: unquote('"\\e91e"');
$sg-admin-icon-twitch: unquote('"\\e91f"');
$sg-admin-icon-figma: unquote('"\\e920"');
$sg-admin-icon-chrome: unquote('"\\e921"');
$sg-admin-icon-layers-2: unquote('"\\e922"');
$sg-admin-icon-layers-3: unquote('"\\e923"');
$sg-admin-icon-activity: unquote('"\\e924"');
$sg-admin-icon-airplay: unquote('"\\e925"');
$sg-admin-icon-alert-circle: unquote('"\\e926"');
$sg-admin-icon-alert-octagon: unquote('"\\e927"');
$sg-admin-icon-alert-triangle: unquote('"\\e928"');
$sg-admin-icon-align-center: unquote('"\\e929"');
$sg-admin-icon-align-justify: unquote('"\\e92a"');
$sg-admin-icon-align-left: unquote('"\\e92b"');
$sg-admin-icon-align-right: unquote('"\\e92c"');
$sg-admin-icon-anchor: unquote('"\\e92d"');
$sg-admin-icon-aperture: unquote('"\\e92e"');
$sg-admin-icon-archive: unquote('"\\e92f"');
$sg-admin-icon-arrow-down: unquote('"\\e930"');
$sg-admin-icon-arrow-down-circle: unquote('"\\e931"');
$sg-admin-icon-arrow-down-left: unquote('"\\e932"');
$sg-admin-icon-arrow-down-right: unquote('"\\e933"');
$sg-admin-icon-arrow-left: unquote('"\\e934"');
$sg-admin-icon-arrow-left-circle: unquote('"\\e935"');
$sg-admin-icon-arrow-right: unquote('"\\e936"');
$sg-admin-icon-arrow-right-circle: unquote('"\\e937"');
$sg-admin-icon-arrow-up: unquote('"\\e938"');
$sg-admin-icon-arrow-up-circle: unquote('"\\e939"');
$sg-admin-icon-arrow-up-left: unquote('"\\e93a"');
$sg-admin-icon-arrow-up-right: unquote('"\\e93b"');
$sg-admin-icon-at-sign: unquote('"\\e93c"');
$sg-admin-icon-award: unquote('"\\e93d"');
$sg-admin-icon-bar-chart: unquote('"\\e93e"');
$sg-admin-icon-bar-chart-2: unquote('"\\e93f"');
$sg-admin-icon-battery: unquote('"\\e940"');
$sg-admin-icon-battery-charging: unquote('"\\e941"');
$sg-admin-icon-bell: unquote('"\\e942"');
$sg-admin-icon-bell-off: unquote('"\\e943"');
$sg-admin-icon-bluetooth: unquote('"\\e944"');
$sg-admin-icon-bold: unquote('"\\e945"');
$sg-admin-icon-book: unquote('"\\e946"');
$sg-admin-icon-bookmark: unquote('"\\e947"');
$sg-admin-icon-book-open: unquote('"\\e948"');
$sg-admin-icon-box: unquote('"\\e949"');
$sg-admin-icon-briefcase: unquote('"\\e94a"');
$sg-admin-icon-calendar: unquote('"\\e94b"');
$sg-admin-icon-camera: unquote('"\\e94c"');
$sg-admin-icon-camera-off: unquote('"\\e94d"');
$sg-admin-icon-cast: unquote('"\\e94e"');
$sg-admin-icon-check: unquote('"\\e94f"');
$sg-admin-icon-check-circle: unquote('"\\e950"');
$sg-admin-icon-check-square: unquote('"\\e951"');
$sg-admin-icon-chevron-down: unquote('"\\e952"');
$sg-admin-icon-chevron-left: unquote('"\\e953"');
$sg-admin-icon-chevron-right: unquote('"\\e954"');
$sg-admin-icon-chevrons-down: unquote('"\\e955"');
$sg-admin-icon-chevrons-left: unquote('"\\e956"');
$sg-admin-icon-chevrons-right: unquote('"\\e957"');
$sg-admin-icon-chevrons-up: unquote('"\\e958"');
$sg-admin-icon-chevron-up: unquote('"\\e959"');
$sg-admin-icon-circle: unquote('"\\e95a"');
$sg-admin-icon-clipboard: unquote('"\\e95b"');
$sg-admin-icon-clock: unquote('"\\e95c"');
$sg-admin-icon-cloud: unquote('"\\e95d"');
$sg-admin-icon-cloud-drizzle: unquote('"\\e95e"');
$sg-admin-icon-cloud-lightning: unquote('"\\e95f"');
$sg-admin-icon-cloud-off: unquote('"\\e960"');
$sg-admin-icon-cloud-rain: unquote('"\\e961"');
$sg-admin-icon-cloud-snow: unquote('"\\e962"');
$sg-admin-icon-code: unquote('"\\e963"');
$sg-admin-icon-coffee: unquote('"\\e964"');
$sg-admin-icon-coins: unquote('"\\e965"');
$sg-admin-icon-coin-stack: unquote('"\\e966"');
$sg-admin-icon-columns: unquote('"\\e967"');
$sg-admin-icon-command: unquote('"\\e968"');
$sg-admin-icon-compass: unquote('"\\e969"');
$sg-admin-icon-copy: unquote('"\\e96a"');
$sg-admin-icon-corner-down-left: unquote('"\\e96b"');
$sg-admin-icon-corner-down-right: unquote('"\\e96c"');
$sg-admin-icon-corner-left-down: unquote('"\\e96d"');
$sg-admin-icon-corner-left-up: unquote('"\\e96e"');
$sg-admin-icon-corner-right-down: unquote('"\\e96f"');
$sg-admin-icon-corner-right-up: unquote('"\\e970"');
$sg-admin-icon-corner-up-left: unquote('"\\e971"');
$sg-admin-icon-corner-up-right: unquote('"\\e972"');
$sg-admin-icon-cpu: unquote('"\\e973"');
$sg-admin-icon-credit-card: unquote('"\\e974"');
$sg-admin-icon-crop: unquote('"\\e975"');
$sg-admin-icon-crosshair: unquote('"\\e976"');
$sg-admin-icon-database: unquote('"\\e977"');
$sg-admin-icon-delete: unquote('"\\e978"');
$sg-admin-icon-disc: unquote('"\\e979"');
$sg-admin-icon-divide: unquote('"\\e97a"');
$sg-admin-icon-divide-circle: unquote('"\\e97b"');
$sg-admin-icon-divide-square: unquote('"\\e97c"');
$sg-admin-icon-dollar-sign: unquote('"\\e97d"');
$sg-admin-icon-download: unquote('"\\e97e"');
$sg-admin-icon-download-cloud: unquote('"\\e97f"');
$sg-admin-icon-droplet: unquote('"\\e980"');
$sg-admin-icon-edit: unquote('"\\e981"');
$sg-admin-icon-edit-2: unquote('"\\e982"');
$sg-admin-icon-edit-3: unquote('"\\e983"');
$sg-admin-icon-external-link: unquote('"\\e984"');
$sg-admin-icon-eye: unquote('"\\e985"');
$sg-admin-icon-eye-off: unquote('"\\e986"');
$sg-admin-icon-fast-forward: unquote('"\\e987"');
$sg-admin-icon-feather: unquote('"\\e988"');
$sg-admin-icon-file: unquote('"\\e989"');
$sg-admin-icon-file-minus: unquote('"\\e98a"');
$sg-admin-icon-file-plus: unquote('"\\e98b"');
$sg-admin-icon-file-text: unquote('"\\e98c"');
$sg-admin-icon-film: unquote('"\\e98d"');
$sg-admin-icon-filter: unquote('"\\e98e"');
$sg-admin-icon-filters-lines: unquote('"\\e98f"');
$sg-admin-icon-flag: unquote('"\\e990"');
$sg-admin-icon-folder: unquote('"\\e991"');
$sg-admin-icon-folder-minus: unquote('"\\e992"');
$sg-admin-icon-folder-plus: unquote('"\\e993"');
$sg-admin-icon-frown: unquote('"\\e994"');
$sg-admin-icon-gift: unquote('"\\e995"');
$sg-admin-icon-globe: unquote('"\\e996"');
$sg-admin-icon-grid: unquote('"\\e997"');
$sg-admin-icon-hard-drive: unquote('"\\e998"');
$sg-admin-icon-hash: unquote('"\\e999"');
$sg-admin-icon-headphones: unquote('"\\e99a"');
$sg-admin-icon-heart: unquote('"\\e99b"');
$sg-admin-icon-help-circle: unquote('"\\e99c"');
$sg-admin-icon-hexagon: unquote('"\\e99d"');
$sg-admin-icon-home: unquote('"\\e99e"');
$sg-admin-icon-image: unquote('"\\e99f"');
$sg-admin-icon-inbox: unquote('"\\e9a0"');
$sg-admin-icon-info: unquote('"\\e9a1"');
$sg-admin-icon-italic: unquote('"\\e9a2"');
$sg-admin-icon-key: unquote('"\\e9a3"');
$sg-admin-icon-layout: unquote('"\\e9a4"');
$sg-admin-icon-life-buoy: unquote('"\\e9a5"');
$sg-admin-icon-link: unquote('"\\e9a6"');
$sg-admin-icon-link-2: unquote('"\\e9a7"');
$sg-admin-icon-list: unquote('"\\e9a8"');
$sg-admin-icon-loader: unquote('"\\e9a9"');
$sg-admin-icon-lock: unquote('"\\e9aa"');
$sg-admin-icon-log-in: unquote('"\\e9ab"');
$sg-admin-icon-log-out: unquote('"\\e9ac"');
$sg-admin-icon-mail: unquote('"\\e9ad"');
$sg-admin-icon-map: unquote('"\\e9ae"');
$sg-admin-icon-map-pin: unquote('"\\e9af"');
$sg-admin-icon-maximize: unquote('"\\e9b0"');
$sg-admin-icon-maximize-2: unquote('"\\e9b1"');
$sg-admin-icon-meh: unquote('"\\e9b2"');
$sg-admin-icon-menu: unquote('"\\e9b3"');
$sg-admin-icon-menu-2: unquote('"\\e9b4"');
$sg-admin-icon-message-circle: unquote('"\\e9b5"');
$sg-admin-icon-message-square: unquote('"\\e9b6"');
$sg-admin-icon-mic: unquote('"\\e9b7"');
$sg-admin-icon-mic-off: unquote('"\\e9b8"');
$sg-admin-icon-minimize: unquote('"\\e9b9"');
$sg-admin-icon-minimize-2: unquote('"\\e9ba"');
$sg-admin-icon-minus: unquote('"\\e9bb"');
$sg-admin-icon-minus-circle: unquote('"\\e9bc"');
$sg-admin-icon-minus-square: unquote('"\\e9bd"');
$sg-admin-icon-monitor: unquote('"\\e9be"');
$sg-admin-icon-moon: unquote('"\\e9bf"');
$sg-admin-icon-more-horizontal: unquote('"\\e9c0"');
$sg-admin-icon-more-vertical: unquote('"\\e9c1"');
$sg-admin-icon-mouse-pointer: unquote('"\\e9c2"');
$sg-admin-icon-move: unquote('"\\e9c3"');
$sg-admin-icon-music: unquote('"\\e9c4"');
$sg-admin-icon-navigation: unquote('"\\e9c5"');
$sg-admin-icon-navigation-2: unquote('"\\e9c6"');
$sg-admin-icon-octagon: unquote('"\\e9c7"');
$sg-admin-icon-package: unquote('"\\e9c8"');
$sg-admin-icon-paperclip: unquote('"\\e9c9"');
$sg-admin-icon-pause: unquote('"\\e9ca"');
$sg-admin-icon-pause-circle: unquote('"\\e9cb"');
$sg-admin-icon-pen-tool: unquote('"\\e9cc"');
$sg-admin-icon-percent: unquote('"\\e9cd"');
$sg-admin-icon-phone: unquote('"\\e9ce"');
$sg-admin-icon-phone-call: unquote('"\\e9cf"');
$sg-admin-icon-phone-forwarded: unquote('"\\e9d0"');
$sg-admin-icon-phone-incoming: unquote('"\\e9d1"');
$sg-admin-icon-phone-missed: unquote('"\\e9d2"');
$sg-admin-icon-phone-off: unquote('"\\e9d3"');
$sg-admin-icon-phone-outgoing: unquote('"\\e9d4"');
$sg-admin-icon-pie-chart: unquote('"\\e9d5"');
$sg-admin-icon-play: unquote('"\\e9d6"');
$sg-admin-icon-play-circle: unquote('"\\e9d7"');
$sg-admin-icon-plus: unquote('"\\e9d8"');
$sg-admin-icon-plus-circle: unquote('"\\e9d9"');
$sg-admin-icon-plus-square: unquote('"\\e9da"');
$sg-admin-icon-pocket: unquote('"\\e9db"');
$sg-admin-icon-power: unquote('"\\e9dc"');
$sg-admin-icon-printer: unquote('"\\e9dd"');
$sg-admin-icon-radio: unquote('"\\e9de"');
$sg-admin-icon-refresh-ccw: unquote('"\\e9df"');
$sg-admin-icon-refresh-cw: unquote('"\\e9e0"');
$sg-admin-icon-repeat: unquote('"\\e9e1"');
$sg-admin-icon-rewind: unquote('"\\e9e2"');
$sg-admin-icon-rocket: unquote('"\\e9e3"');
$sg-admin-icon-rotate-ccw: unquote('"\\e9e4"');
$sg-admin-icon-rotate-cw: unquote('"\\e9e5"');
$sg-admin-icon-rss: unquote('"\\e9e6"');
$sg-admin-icon-save: unquote('"\\e9e7"');
$sg-admin-icon-scissors: unquote('"\\e9e8"');
$sg-admin-icon-search: unquote('"\\e9e9"');
$sg-admin-icon-send: unquote('"\\e9ea"');
$sg-admin-icon-server: unquote('"\\e9eb"');
$sg-admin-icon-settings: unquote('"\\e9ec"');
$sg-admin-icon-share: unquote('"\\e9ed"');
$sg-admin-icon-share-2: unquote('"\\e9ee"');
$sg-admin-icon-shield: unquote('"\\e9ef"');
$sg-admin-icon-shield-off: unquote('"\\e9f0"');
$sg-admin-icon-shopping-bag: unquote('"\\e9f1"');
$sg-admin-icon-shopping-cart: unquote('"\\e9f2"');
$sg-admin-icon-shuffle: unquote('"\\e9f3"');
$sg-admin-icon-sidebar: unquote('"\\e9f4"');
$sg-admin-icon-skip-back: unquote('"\\e9f5"');
$sg-admin-icon-skip-forward: unquote('"\\e9f6"');
$sg-admin-icon-slash: unquote('"\\e9f7"');
$sg-admin-icon-slash-divider: unquote('"\\e9f8"');
$sg-admin-icon-sliders: unquote('"\\e9f9"');
$sg-admin-icon-smartphone: unquote('"\\e9fa"');
$sg-admin-icon-smile: unquote('"\\e9fb"');
$sg-admin-icon-speaker: unquote('"\\e9fc"');
$sg-admin-icon-square: unquote('"\\e9fd"');
$sg-admin-icon-star: unquote('"\\e9fe"');
$sg-admin-icon-stop-circle: unquote('"\\e9ff"');
$sg-admin-icon-sun: unquote('"\\ea00"');
$sg-admin-icon-sunrise: unquote('"\\ea01"');
$sg-admin-icon-sunset: unquote('"\\ea02"');
$sg-admin-icon-tablet: unquote('"\\ea03"');
$sg-admin-icon-tag: unquote('"\\ea04"');
$sg-admin-icon-target: unquote('"\\ea05"');
$sg-admin-icon-terminal: unquote('"\\ea06"');
$sg-admin-icon-thermometer: unquote('"\\ea07"');
$sg-admin-icon-thumbs-down: unquote('"\\ea08"');
$sg-admin-icon-thumbs-up: unquote('"\\ea09"');
$sg-admin-icon-toggle-left: unquote('"\\ea0a"');
$sg-admin-icon-toggle-right: unquote('"\\ea0b"');
$sg-admin-icon-tool: unquote('"\\ea0c"');
$sg-admin-icon-trash: unquote('"\\ea0d"');
$sg-admin-icon-trash-2: unquote('"\\ea0e"');
$sg-admin-icon-trello: unquote('"\\ea0f"');
$sg-admin-icon-trending-down: unquote('"\\ea10"');
$sg-admin-icon-trending-up: unquote('"\\ea11"');
$sg-admin-icon-triangle: unquote('"\\ea12"');
$sg-admin-icon-truck: unquote('"\\ea13"');
$sg-admin-icon-tv: unquote('"\\ea14"');
$sg-admin-icon-type: unquote('"\\ea15"');
$sg-admin-icon-umbrella: unquote('"\\ea16"');
$sg-admin-icon-underline: unquote('"\\ea17"');
$sg-admin-icon-unlock: unquote('"\\ea18"');
$sg-admin-icon-upload: unquote('"\\ea19"');
$sg-admin-icon-upload-cloud: unquote('"\\ea1a"');
$sg-admin-icon-user: unquote('"\\ea1b"');
$sg-admin-icon-user-check: unquote('"\\ea1c"');
$sg-admin-icon-user-minus: unquote('"\\ea1d"');
$sg-admin-icon-user-plus: unquote('"\\ea1e"');
$sg-admin-icon-users: unquote('"\\ea1f"');
$sg-admin-icon-user-x: unquote('"\\ea20"');
$sg-admin-icon-video: unquote('"\\ea21"');
$sg-admin-icon-video-off: unquote('"\\ea22"');
$sg-admin-icon-voicemail: unquote('"\\ea23"');
$sg-admin-icon-volume: unquote('"\\ea24"');
$sg-admin-icon-volume-1: unquote('"\\ea25"');
$sg-admin-icon-volume-2: unquote('"\\ea26"');
$sg-admin-icon-volume-x: unquote('"\\ea27"');
$sg-admin-icon-watch: unquote('"\\ea28"');
$sg-admin-icon-wifi: unquote('"\\ea29"');
$sg-admin-icon-wifi-off: unquote('"\\ea2a"');
$sg-admin-icon-wind: unquote('"\\ea2b"');
$sg-admin-icon-x: unquote('"\\ea2c"');
$sg-admin-icon-x-circle: unquote('"\\ea2d"');
$sg-admin-icon-x-octagon: unquote('"\\ea2e"');
$sg-admin-icon-x-square: unquote('"\\ea2f"');
$sg-admin-icon-youtube: unquote('"\\ea30"');
$sg-admin-icon-zap: unquote('"\\ea31"');
$sg-admin-icon-zap-off: unquote('"\\ea32"');
$sg-admin-icon-zoom-in: unquote('"\\ea33"');
$sg-admin-icon-zoom-out: unquote('"\\ea34"');

