.sg--section--collapseContent-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--stroke, #CCC);
  padding: 12px 0;

  &--open {
    border-color: var(--black, #231F20);
  }

  &--link {
    padding: 12px 24px;
    color: var(--black, #231F20);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.216px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }
  &--content {
    padding: 0 24px;
    color: var(--gray-text, #707070);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */

    & p,
    & span,
    & div {
      color: var(--gray-text, #707070) !important;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 30px !important;
      font-family: "Inter", sans-serif !important;
    }
  }
}