@font-face {
  font-family: "sg-icons";
  src: url("fonts/sg-icons.eot?bl32s3");
  src: url("fonts/sg-icons.eot?bl32s3#iefix") format("embedded-opentype"), url("fonts/sg-icons.ttf?bl32s3") format("truetype"), url("fonts/sg-icons.woff?bl32s3") format("woff"), url("fonts/sg-icons.svg?bl32s3#sg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.sg-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sg-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sg-icon-facebook-solid:before {
  content: "\e900";
}

.sg-icon-facebook:before {
  content: "\e901";
}

.sg-icon-linkedIn-solid:before {
  content: "\e902";
}

.sg-icon-linkedin:before {
  content: "\e903";
}

.sg-icon-instagram:before {
  content: "\e904";
}

.sg-icon-github-solid:before {
  content: "\e905";
}

.sg-icon-github:before {
  content: "\e906";
}

.sg-icon-git-branch:before {
  content: "\e907";
}

.sg-icon-git-commit:before {
  content: "\e908";
}

.sg-icon-gitlab:before {
  content: "\e909";
}

.sg-icon-git-merge:before {
  content: "\e90a";
}

.sg-icon-git-pull-request:before {
  content: "\e90b";
}

.sg-icon-angellist:before {
  content: "\e90c";
}

.sg-icon-apple:before {
  content: "\e90d";
}

.sg-icon-google:before {
  content: "\e90e";
}

.sg-icon-twitter-solid:before {
  content: "\e90f";
}

.sg-icon-twitter:before {
  content: "\e910";
}

.sg-icon-clubhouse:before {
  content: "\e911";
}

.sg-icon-discord:before {
  content: "\e912";
}

.sg-icon-dribbble:before {
  content: "\e913";
}

.sg-icon-codepen:before {
  content: "\e914";
}

.sg-icon-codesandbox:before {
  content: "\e915";
}

.sg-icon-pinterest:before {
  content: "\e916";
}

.sg-icon-framer:before {
  content: "\e917";
}

.sg-icon-reddit:before {
  content: "\e918";
}

.sg-icon-signal:before {
  content: "\e919";
}

.sg-icon-snapchat:before {
  content: "\e91a";
}

.sg-icon-telegram:before {
  content: "\e91b";
}

.sg-icon-tumblr:before {
  content: "\e91c";
}

.sg-icon-youtube1:before {
  content: "\e91d";
}

.sg-icon-slack:before {
  content: "\e91e";
}

.sg-icon-twitch:before {
  content: "\e91f";
}

.sg-icon-figma:before {
  content: "\e920";
}

.sg-icon-chrome:before {
  content: "\e921";
}

.sg-icon-layers-2:before {
  content: "\e922";
}

.sg-icon-layers-3:before {
  content: "\e923";
}

.sg-icon-activity:before {
  content: "\e924";
}

.sg-icon-airplay:before {
  content: "\e925";
}

.sg-icon-alert-circle:before {
  content: "\e926";
}

.sg-icon-alert-octagon:before {
  content: "\e927";
}

.sg-icon-alert-triangle:before {
  content: "\e928";
}

.sg-icon-align-center:before {
  content: "\e929";
}

.sg-icon-align-justify:before {
  content: "\e92a";
}

.sg-icon-align-left:before {
  content: "\e92b";
}

.sg-icon-align-right:before {
  content: "\e92c";
}

.sg-icon-anchor:before {
  content: "\e92d";
}

.sg-icon-aperture:before {
  content: "\e92e";
}

.sg-icon-archive:before {
  content: "\e92f";
}

.sg-icon-arrow-down:before {
  content: "\e930";
}

.sg-icon-arrow-down-circle:before {
  content: "\e931";
}

.sg-icon-arrow-down-left:before {
  content: "\e932";
}

.sg-icon-arrow-down-right:before {
  content: "\e933";
}

.sg-icon-arrow-left:before {
  content: "\e934";
}

.sg-icon-arrow-left-circle:before {
  content: "\e935";
}

.sg-icon-arrow-right:before {
  content: "\e936";
}

.sg-icon-arrow-right-circle:before {
  content: "\e937";
}

.sg-icon-arrow-up:before {
  content: "\e938";
}

.sg-icon-arrow-up-circle:before {
  content: "\e939";
}

.sg-icon-arrow-up-left:before {
  content: "\e93a";
}

.sg-icon-arrow-up-right:before {
  content: "\e93b";
}

.sg-icon-at-sign:before {
  content: "\e93c";
}

.sg-icon-award:before {
  content: "\e93d";
}

.sg-icon-bar-chart:before {
  content: "\e93e";
}

.sg-icon-bar-chart-2:before {
  content: "\e93f";
}

.sg-icon-battery:before {
  content: "\e940";
}

.sg-icon-battery-charging:before {
  content: "\e941";
}

.sg-icon-bell:before {
  content: "\e942";
}

.sg-icon-bell-off:before {
  content: "\e943";
}

.sg-icon-bluetooth:before {
  content: "\e944";
}

.sg-icon-bold:before {
  content: "\e945";
}

.sg-icon-book:before {
  content: "\e946";
}

.sg-icon-bookmark:before {
  content: "\e947";
}

.sg-icon-book-open:before {
  content: "\e948";
}

.sg-icon-box:before {
  content: "\e949";
}

.sg-icon-briefcase:before {
  content: "\e94a";
}

.sg-icon-calendar:before {
  content: "\e94b";
}

.sg-icon-camera:before {
  content: "\e94c";
}

.sg-icon-camera-off:before {
  content: "\e94d";
}

.sg-icon-cast:before {
  content: "\e94e";
}

.sg-icon-check:before {
  content: "\e94f";
}

.sg-icon-check-circle:before {
  content: "\e950";
}

.sg-icon-check-square:before {
  content: "\e951";
}

.sg-icon-chevron-down:before {
  content: "\e952";
}

.sg-icon-chevron-left:before {
  content: "\e953";
}

.sg-icon-chevron-right:before {
  content: "\e954";
}

.sg-icon-chevrons-down:before {
  content: "\e955";
}

.sg-icon-chevrons-left:before {
  content: "\e956";
}

.sg-icon-chevrons-right:before {
  content: "\e957";
}

.sg-icon-chevrons-up:before {
  content: "\e958";
}

.sg-icon-chevron-up:before {
  content: "\e959";
}

.sg-icon-circle:before {
  content: "\e95a";
}

.sg-icon-clipboard:before {
  content: "\e95b";
}

.sg-icon-clock:before {
  content: "\e95c";
}

.sg-icon-cloud:before {
  content: "\e95d";
}

.sg-icon-cloud-drizzle:before {
  content: "\e95e";
}

.sg-icon-cloud-lightning:before {
  content: "\e95f";
}

.sg-icon-cloud-off:before {
  content: "\e960";
}

.sg-icon-cloud-rain:before {
  content: "\e961";
}

.sg-icon-cloud-snow:before {
  content: "\e962";
}

.sg-icon-code:before {
  content: "\e963";
}

.sg-icon-coffee:before {
  content: "\e964";
}

.sg-icon-coins:before {
  content: "\e965";
}

.sg-icon-coin-stack:before {
  content: "\e966";
}

.sg-icon-columns:before {
  content: "\e967";
}

.sg-icon-command:before {
  content: "\e968";
}

.sg-icon-compass:before {
  content: "\e969";
}

.sg-icon-copy:before {
  content: "\e96a";
}

.sg-icon-corner-down-left:before {
  content: "\e96b";
}

.sg-icon-corner-down-right:before {
  content: "\e96c";
}

.sg-icon-corner-left-down:before {
  content: "\e96d";
}

.sg-icon-corner-left-up:before {
  content: "\e96e";
}

.sg-icon-corner-right-down:before {
  content: "\e96f";
}

.sg-icon-corner-right-up:before {
  content: "\e970";
}

.sg-icon-corner-up-left:before {
  content: "\e971";
}

.sg-icon-corner-up-right:before {
  content: "\e972";
}

.sg-icon-cpu:before {
  content: "\e973";
}

.sg-icon-credit-card:before {
  content: "\e974";
}

.sg-icon-crop:before {
  content: "\e975";
}

.sg-icon-crosshair:before {
  content: "\e976";
}

.sg-icon-database:before {
  content: "\e977";
}

.sg-icon-delete:before {
  content: "\e978";
}

.sg-icon-disc:before {
  content: "\e979";
}

.sg-icon-divide:before {
  content: "\e97a";
}

.sg-icon-divide-circle:before {
  content: "\e97b";
}

.sg-icon-divide-square:before {
  content: "\e97c";
}

.sg-icon-dollar-sign:before {
  content: "\e97d";
}

.sg-icon-download:before {
  content: "\e97e";
}

.sg-icon-download-cloud:before {
  content: "\e97f";
}

.sg-icon-droplet:before {
  content: "\e980";
}

.sg-icon-edit:before {
  content: "\e981";
}

.sg-icon-edit-2:before {
  content: "\e982";
}

.sg-icon-edit-3:before {
  content: "\e983";
}

.sg-icon-external-link:before {
  content: "\e984";
}

.sg-icon-eye:before {
  content: "\e985";
}

.sg-icon-eye-off:before {
  content: "\e986";
}

.sg-icon-fast-forward:before {
  content: "\e987";
}

.sg-icon-feather:before {
  content: "\e988";
}

.sg-icon-file:before {
  content: "\e989";
}

.sg-icon-file-minus:before {
  content: "\e98a";
}

.sg-icon-file-plus:before {
  content: "\e98b";
}

.sg-icon-file-text:before {
  content: "\e98c";
}

.sg-icon-film:before {
  content: "\e98d";
}

.sg-icon-filter:before {
  content: "\e98e";
}

.sg-icon-filters-lines:before {
  content: "\e98f";
}

.sg-icon-flag:before {
  content: "\e990";
}

.sg-icon-folder:before {
  content: "\e991";
}

.sg-icon-folder-minus:before {
  content: "\e992";
}

.sg-icon-folder-plus:before {
  content: "\e993";
}

.sg-icon-frown:before {
  content: "\e994";
}

.sg-icon-gift:before {
  content: "\e995";
}

.sg-icon-globe:before {
  content: "\e996";
}

.sg-icon-grid:before {
  content: "\e997";
}

.sg-icon-hard-drive:before {
  content: "\e998";
}

.sg-icon-hash:before {
  content: "\e999";
}

.sg-icon-headphones:before {
  content: "\e99a";
}

.sg-icon-heart:before {
  content: "\e99b";
}

.sg-icon-help-circle:before {
  content: "\e99c";
}

.sg-icon-hexagon:before {
  content: "\e99d";
}

.sg-icon-home:before {
  content: "\e99e";
}

.sg-icon-image:before {
  content: "\e99f";
}

.sg-icon-inbox:before {
  content: "\e9a0";
}

.sg-icon-info:before {
  content: "\e9a1";
}

.sg-icon-italic:before {
  content: "\e9a2";
}

.sg-icon-key:before {
  content: "\e9a3";
}

.sg-icon-layout:before {
  content: "\e9a4";
}

.sg-icon-life-buoy:before {
  content: "\e9a5";
}

.sg-icon-link:before {
  content: "\e9a6";
}

.sg-icon-link-2:before {
  content: "\e9a7";
}

.sg-icon-list:before {
  content: "\e9a8";
}

.sg-icon-loader:before {
  content: "\e9a9";
}

.sg-icon-lock:before {
  content: "\e9aa";
}

.sg-icon-log-in:before {
  content: "\e9ab";
}

.sg-icon-log-out:before {
  content: "\e9ac";
}

.sg-icon-mail:before {
  content: "\e9ad";
}

.sg-icon-map:before {
  content: "\e9ae";
}

.sg-icon-map-pin:before {
  content: "\e9af";
}

.sg-icon-maximize:before {
  content: "\e9b0";
}

.sg-icon-maximize-2:before {
  content: "\e9b1";
}

.sg-icon-meh:before {
  content: "\e9b2";
}

.sg-icon-menu:before {
  content: "\e9b3";
}

.sg-icon-menu-2:before {
  content: "\e9b4";
}

.sg-icon-message-circle:before {
  content: "\e9b5";
}

.sg-icon-message-square:before {
  content: "\e9b6";
}

.sg-icon-mic:before {
  content: "\e9b7";
}

.sg-icon-mic-off:before {
  content: "\e9b8";
}

.sg-icon-minimize:before {
  content: "\e9b9";
}

.sg-icon-minimize-2:before {
  content: "\e9ba";
}

.sg-icon-minus:before {
  content: "\e9bb";
}

.sg-icon-minus-circle:before {
  content: "\e9bc";
}

.sg-icon-minus-square:before {
  content: "\e9bd";
}

.sg-icon-monitor:before {
  content: "\e9be";
}

.sg-icon-moon:before {
  content: "\e9bf";
}

.sg-icon-more-horizontal:before {
  content: "\e9c0";
}

.sg-icon-more-vertical:before {
  content: "\e9c1";
}

.sg-icon-mouse-pointer:before {
  content: "\e9c2";
}

.sg-icon-move:before {
  content: "\e9c3";
}

.sg-icon-music:before {
  content: "\e9c4";
}

.sg-icon-navigation:before {
  content: "\e9c5";
}

.sg-icon-navigation-2:before {
  content: "\e9c6";
}

.sg-icon-octagon:before {
  content: "\e9c7";
}

.sg-icon-package:before {
  content: "\e9c8";
}

.sg-icon-paperclip:before {
  content: "\e9c9";
}

.sg-icon-pause:before {
  content: "\e9ca";
}

.sg-icon-pause-circle:before {
  content: "\e9cb";
}

.sg-icon-pen-tool:before {
  content: "\e9cc";
}

.sg-icon-percent:before {
  content: "\e9cd";
}

.sg-icon-phone:before {
  content: "\e9ce";
}

.sg-icon-phone-call:before {
  content: "\e9cf";
}

.sg-icon-phone-forwarded:before {
  content: "\e9d0";
}

.sg-icon-phone-incoming:before {
  content: "\e9d1";
}

.sg-icon-phone-missed:before {
  content: "\e9d2";
}

.sg-icon-phone-off:before {
  content: "\e9d3";
}

.sg-icon-phone-outgoing:before {
  content: "\e9d4";
}

.sg-icon-pie-chart:before {
  content: "\e9d5";
}

.sg-icon-play:before {
  content: "\e9d6";
}

.sg-icon-play-circle:before {
  content: "\e9d7";
}

.sg-icon-plus:before {
  content: "\e9d8";
}

.sg-icon-plus-circle:before {
  content: "\e9d9";
}

.sg-icon-plus-square:before {
  content: "\e9da";
}

.sg-icon-pocket:before {
  content: "\e9db";
}

.sg-icon-power:before {
  content: "\e9dc";
}

.sg-icon-printer:before {
  content: "\e9dd";
}

.sg-icon-radio:before {
  content: "\e9de";
}

.sg-icon-refresh-ccw:before {
  content: "\e9df";
}

.sg-icon-refresh-cw:before {
  content: "\e9e0";
}

.sg-icon-repeat:before {
  content: "\e9e1";
}

.sg-icon-rewind:before {
  content: "\e9e2";
}

.sg-icon-rocket:before {
  content: "\e9e3";
}

.sg-icon-rotate-ccw:before {
  content: "\e9e4";
}

.sg-icon-rotate-cw:before {
  content: "\e9e5";
}

.sg-icon-rss:before {
  content: "\e9e6";
}

.sg-icon-save:before {
  content: "\e9e7";
}

.sg-icon-scissors:before {
  content: "\e9e8";
}

.sg-icon-search:before {
  content: "\e9e9";
}

.sg-icon-send:before {
  content: "\e9ea";
}

.sg-icon-server:before {
  content: "\e9eb";
}

.sg-icon-settings:before {
  content: "\e9ec";
}

.sg-icon-share:before {
  content: "\e9ed";
}

.sg-icon-share-2:before {
  content: "\e9ee";
}

.sg-icon-shield:before {
  content: "\e9ef";
}

.sg-icon-shield-off:before {
  content: "\e9f0";
}

.sg-icon-shopping-bag:before {
  content: "\e9f1";
}

.sg-icon-shopping-cart:before {
  content: "\e9f2";
}

.sg-icon-shuffle:before {
  content: "\e9f3";
}

.sg-icon-sidebar:before {
  content: "\e9f4";
}

.sg-icon-skip-back:before {
  content: "\e9f5";
}

.sg-icon-skip-forward:before {
  content: "\e9f6";
}

.sg-icon-slash:before {
  content: "\e9f7";
}

.sg-icon-slash-divider:before {
  content: "\e9f8";
}

.sg-icon-sliders:before {
  content: "\e9f9";
}

.sg-icon-smartphone:before {
  content: "\e9fa";
}

.sg-icon-smile:before {
  content: "\e9fb";
}

.sg-icon-speaker:before {
  content: "\e9fc";
}

.sg-icon-square:before {
  content: "\e9fd";
}

.sg-icon-star:before {
  content: "\e9fe";
}

.sg-icon-stop-circle:before {
  content: "\e9ff";
}

.sg-icon-sun:before {
  content: "\ea00";
}

.sg-icon-sunrise:before {
  content: "\ea01";
}

.sg-icon-sunset:before {
  content: "\ea02";
}

.sg-icon-tablet:before {
  content: "\ea03";
}

.sg-icon-tag:before {
  content: "\ea04";
}

.sg-icon-target:before {
  content: "\ea05";
}

.sg-icon-terminal:before {
  content: "\ea06";
}

.sg-icon-thermometer:before {
  content: "\ea07";
}

.sg-icon-thumbs-down:before {
  content: "\ea08";
}

.sg-icon-thumbs-up:before {
  content: "\ea09";
}

.sg-icon-toggle-left:before {
  content: "\ea0a";
}

.sg-icon-toggle-right:before {
  content: "\ea0b";
}

.sg-icon-tool:before {
  content: "\ea0c";
}

.sg-icon-trash:before {
  content: "\ea0d";
}

.sg-icon-trash-2:before {
  content: "\ea0e";
}

.sg-icon-trello:before {
  content: "\ea0f";
}

.sg-icon-trending-down:before {
  content: "\ea10";
}

.sg-icon-trending-up:before {
  content: "\ea11";
}

.sg-icon-triangle:before {
  content: "\ea12";
}

.sg-icon-truck:before {
  content: "\ea13";
}

.sg-icon-tv:before {
  content: "\ea14";
}

.sg-icon-type:before {
  content: "\ea15";
}

.sg-icon-umbrella:before {
  content: "\ea16";
}

.sg-icon-underline:before {
  content: "\ea17";
}

.sg-icon-unlock:before {
  content: "\ea18";
}

.sg-icon-upload:before {
  content: "\ea19";
}

.sg-icon-upload-cloud:before {
  content: "\ea1a";
}

.sg-icon-user:before {
  content: "\ea1b";
}

.sg-icon-user-check:before {
  content: "\ea1c";
}

.sg-icon-user-minus:before {
  content: "\ea1d";
}

.sg-icon-user-plus:before {
  content: "\ea1e";
}

.sg-icon-users:before {
  content: "\ea1f";
}

.sg-icon-user-x:before {
  content: "\ea20";
}

.sg-icon-video:before {
  content: "\ea21";
}

.sg-icon-video-off:before {
  content: "\ea22";
}

.sg-icon-voicemail:before {
  content: "\ea23";
}

.sg-icon-volume:before {
  content: "\ea24";
}

.sg-icon-volume-1:before {
  content: "\ea25";
}

.sg-icon-volume-2:before {
  content: "\ea26";
}

.sg-icon-volume-x:before {
  content: "\ea27";
}

.sg-icon-watch:before {
  content: "\ea28";
}

.sg-icon-wifi:before {
  content: "\ea29";
}

.sg-icon-wifi-off:before {
  content: "\ea2a";
}

.sg-icon-wind:before {
  content: "\ea2b";
}

.sg-icon-x:before {
  content: "\ea2c";
}

.sg-icon-x-circle:before {
  content: "\ea2d";
}

.sg-icon-x-octagon:before {
  content: "\ea2e";
}

.sg-icon-x-square:before {
  content: "\ea2f";
}

.sg-icon-youtube:before {
  content: "\ea30";
}

.sg-icon-zap:before {
  content: "\ea31";
}

.sg-icon-zap-off:before {
  content: "\ea32";
}

.sg-icon-zoom-in:before {
  content: "\ea33";
}

.sg-icon-zoom-out:before {
  content: "\ea34";
}

/*# sourceMappingURL=style.css.map */
