$icomoon-font-family: "sg-icons" !default;
$icomoon-font-path: "fonts" !default;

$sg-icon-facebook-solid: "\e900";
$sg-icon-facebook: "\e901";
$sg-icon-linkedIn-solid: "\e902";
$sg-icon-linkedin: "\e903";
$sg-icon-instagram: "\e904";
$sg-icon-github-solid: "\e905";
$sg-icon-github: "\e906";
$sg-icon-git-branch: "\e907";
$sg-icon-git-commit: "\e908";
$sg-icon-gitlab: "\e909";
$sg-icon-git-merge: "\e90a";
$sg-icon-git-pull-request: "\e90b";
$sg-icon-angellist: "\e90c";
$sg-icon-apple: "\e90d";
$sg-icon-google: "\e90e";
$sg-icon-twitter-solid: "\e90f";
$sg-icon-twitter: "\e910";
$sg-icon-clubhouse: "\e911";
$sg-icon-discord: "\e912";
$sg-icon-dribbble: "\e913";
$sg-icon-codepen: "\e914";
$sg-icon-codesandbox: "\e915";
$sg-icon-pinterest: "\e916";
$sg-icon-framer: "\e917";
$sg-icon-reddit: "\e918";
$sg-icon-signal: "\e919";
$sg-icon-snapchat: "\e91a";
$sg-icon-telegram: "\e91b";
$sg-icon-tumblr: "\e91c";
$sg-icon-youtube1: "\e91d";
$sg-icon-slack: "\e91e";
$sg-icon-twitch: "\e91f";
$sg-icon-figma: "\e920";
$sg-icon-chrome: "\e921";
$sg-icon-layers-2: "\e922";
$sg-icon-layers-3: "\e923";
$sg-icon-activity: "\e924";
$sg-icon-airplay: "\e925";
$sg-icon-alert-circle: "\e926";
$sg-icon-alert-octagon: "\e927";
$sg-icon-alert-triangle: "\e928";
$sg-icon-align-center: "\e929";
$sg-icon-align-justify: "\e92a";
$sg-icon-align-left: "\e92b";
$sg-icon-align-right: "\e92c";
$sg-icon-anchor: "\e92d";
$sg-icon-aperture: "\e92e";
$sg-icon-archive: "\e92f";
$sg-icon-arrow-down: "\e930";
$sg-icon-arrow-down-circle: "\e931";
$sg-icon-arrow-down-left: "\e932";
$sg-icon-arrow-down-right: "\e933";
$sg-icon-arrow-left: "\e934";
$sg-icon-arrow-left-circle: "\e935";
$sg-icon-arrow-right: "\e936";
$sg-icon-arrow-right-circle: "\e937";
$sg-icon-arrow-up: "\e938";
$sg-icon-arrow-up-circle: "\e939";
$sg-icon-arrow-up-left: "\e93a";
$sg-icon-arrow-up-right: "\e93b";
$sg-icon-at-sign: "\e93c";
$sg-icon-award: "\e93d";
$sg-icon-bar-chart: "\e93e";
$sg-icon-bar-chart-2: "\e93f";
$sg-icon-battery: "\e940";
$sg-icon-battery-charging: "\e941";
$sg-icon-bell: "\e942";
$sg-icon-bell-off: "\e943";
$sg-icon-bluetooth: "\e944";
$sg-icon-bold: "\e945";
$sg-icon-book: "\e946";
$sg-icon-bookmark: "\e947";
$sg-icon-book-open: "\e948";
$sg-icon-box: "\e949";
$sg-icon-briefcase: "\e94a";
$sg-icon-calendar: "\e94b";
$sg-icon-camera: "\e94c";
$sg-icon-camera-off: "\e94d";
$sg-icon-cast: "\e94e";
$sg-icon-check: "\e94f";
$sg-icon-check-circle: "\e950";
$sg-icon-check-square: "\e951";
$sg-icon-chevron-down: "\e952";
$sg-icon-chevron-left: "\e953";
$sg-icon-chevron-right: "\e954";
$sg-icon-chevrons-down: "\e955";
$sg-icon-chevrons-left: "\e956";
$sg-icon-chevrons-right: "\e957";
$sg-icon-chevrons-up: "\e958";
$sg-icon-chevron-up: "\e959";
$sg-icon-circle: "\e95a";
$sg-icon-clipboard: "\e95b";
$sg-icon-clock: "\e95c";
$sg-icon-cloud: "\e95d";
$sg-icon-cloud-drizzle: "\e95e";
$sg-icon-cloud-lightning: "\e95f";
$sg-icon-cloud-off: "\e960";
$sg-icon-cloud-rain: "\e961";
$sg-icon-cloud-snow: "\e962";
$sg-icon-code: "\e963";
$sg-icon-coffee: "\e964";
$sg-icon-coins: "\e965";
$sg-icon-coin-stack: "\e966";
$sg-icon-columns: "\e967";
$sg-icon-command: "\e968";
$sg-icon-compass: "\e969";
$sg-icon-copy: "\e96a";
$sg-icon-corner-down-left: "\e96b";
$sg-icon-corner-down-right: "\e96c";
$sg-icon-corner-left-down: "\e96d";
$sg-icon-corner-left-up: "\e96e";
$sg-icon-corner-right-down: "\e96f";
$sg-icon-corner-right-up: "\e970";
$sg-icon-corner-up-left: "\e971";
$sg-icon-corner-up-right: "\e972";
$sg-icon-cpu: "\e973";
$sg-icon-credit-card: "\e974";
$sg-icon-crop: "\e975";
$sg-icon-crosshair: "\e976";
$sg-icon-database: "\e977";
$sg-icon-delete: "\e978";
$sg-icon-disc: "\e979";
$sg-icon-divide: "\e97a";
$sg-icon-divide-circle: "\e97b";
$sg-icon-divide-square: "\e97c";
$sg-icon-dollar-sign: "\e97d";
$sg-icon-download: "\e97e";
$sg-icon-download-cloud: "\e97f";
$sg-icon-droplet: "\e980";
$sg-icon-edit: "\e981";
$sg-icon-edit-2: "\e982";
$sg-icon-edit-3: "\e983";
$sg-icon-external-link: "\e984";
$sg-icon-eye: "\e985";
$sg-icon-eye-off: "\e986";
$sg-icon-fast-forward: "\e987";
$sg-icon-feather: "\e988";
$sg-icon-file: "\e989";
$sg-icon-file-minus: "\e98a";
$sg-icon-file-plus: "\e98b";
$sg-icon-file-text: "\e98c";
$sg-icon-film: "\e98d";
$sg-icon-filter: "\e98e";
$sg-icon-filters-lines: "\e98f";
$sg-icon-flag: "\e990";
$sg-icon-folder: "\e991";
$sg-icon-folder-minus: "\e992";
$sg-icon-folder-plus: "\e993";
$sg-icon-frown: "\e994";
$sg-icon-gift: "\e995";
$sg-icon-globe: "\e996";
$sg-icon-grid: "\e997";
$sg-icon-hard-drive: "\e998";
$sg-icon-hash: "\e999";
$sg-icon-headphones: "\e99a";
$sg-icon-heart: "\e99b";
$sg-icon-help-circle: "\e99c";
$sg-icon-hexagon: "\e99d";
$sg-icon-home: "\e99e";
$sg-icon-image: "\e99f";
$sg-icon-inbox: "\e9a0";
$sg-icon-info: "\e9a1";
$sg-icon-italic: "\e9a2";
$sg-icon-key: "\e9a3";
$sg-icon-layout: "\e9a4";
$sg-icon-life-buoy: "\e9a5";
$sg-icon-link: "\e9a6";
$sg-icon-link-2: "\e9a7";
$sg-icon-list: "\e9a8";
$sg-icon-loader: "\e9a9";
$sg-icon-lock: "\e9aa";
$sg-icon-log-in: "\e9ab";
$sg-icon-log-out: "\e9ac";
$sg-icon-mail: "\e9ad";
$sg-icon-map: "\e9ae";
$sg-icon-map-pin: "\e9af";
$sg-icon-maximize: "\e9b0";
$sg-icon-maximize-2: "\e9b1";
$sg-icon-meh: "\e9b2";
$sg-icon-menu: "\e9b3";
$sg-icon-menu-2: "\e9b4";
$sg-icon-message-circle: "\e9b5";
$sg-icon-message-square: "\e9b6";
$sg-icon-mic: "\e9b7";
$sg-icon-mic-off: "\e9b8";
$sg-icon-minimize: "\e9b9";
$sg-icon-minimize-2: "\e9ba";
$sg-icon-minus: "\e9bb";
$sg-icon-minus-circle: "\e9bc";
$sg-icon-minus-square: "\e9bd";
$sg-icon-monitor: "\e9be";
$sg-icon-moon: "\e9bf";
$sg-icon-more-horizontal: "\e9c0";
$sg-icon-more-vertical: "\e9c1";
$sg-icon-mouse-pointer: "\e9c2";
$sg-icon-move: "\e9c3";
$sg-icon-music: "\e9c4";
$sg-icon-navigation: "\e9c5";
$sg-icon-navigation-2: "\e9c6";
$sg-icon-octagon: "\e9c7";
$sg-icon-package: "\e9c8";
$sg-icon-paperclip: "\e9c9";
$sg-icon-pause: "\e9ca";
$sg-icon-pause-circle: "\e9cb";
$sg-icon-pen-tool: "\e9cc";
$sg-icon-percent: "\e9cd";
$sg-icon-phone: "\e9ce";
$sg-icon-phone-call: "\e9cf";
$sg-icon-phone-forwarded: "\e9d0";
$sg-icon-phone-incoming: "\e9d1";
$sg-icon-phone-missed: "\e9d2";
$sg-icon-phone-off: "\e9d3";
$sg-icon-phone-outgoing: "\e9d4";
$sg-icon-pie-chart: "\e9d5";
$sg-icon-play: "\e9d6";
$sg-icon-play-circle: "\e9d7";
$sg-icon-plus: "\e9d8";
$sg-icon-plus-circle: "\e9d9";
$sg-icon-plus-square: "\e9da";
$sg-icon-pocket: "\e9db";
$sg-icon-power: "\e9dc";
$sg-icon-printer: "\e9dd";
$sg-icon-radio: "\e9de";
$sg-icon-refresh-ccw: "\e9df";
$sg-icon-refresh-cw: "\e9e0";
$sg-icon-repeat: "\e9e1";
$sg-icon-rewind: "\e9e2";
$sg-icon-rocket: "\e9e3";
$sg-icon-rotate-ccw: "\e9e4";
$sg-icon-rotate-cw: "\e9e5";
$sg-icon-rss: "\e9e6";
$sg-icon-save: "\e9e7";
$sg-icon-scissors: "\e9e8";
$sg-icon-search: "\e9e9";
$sg-icon-send: "\e9ea";
$sg-icon-server: "\e9eb";
$sg-icon-settings: "\e9ec";
$sg-icon-share: "\e9ed";
$sg-icon-share-2: "\e9ee";
$sg-icon-shield: "\e9ef";
$sg-icon-shield-off: "\e9f0";
$sg-icon-shopping-bag: "\e9f1";
$sg-icon-shopping-cart: "\e9f2";
$sg-icon-shuffle: "\e9f3";
$sg-icon-sidebar: "\e9f4";
$sg-icon-skip-back: "\e9f5";
$sg-icon-skip-forward: "\e9f6";
$sg-icon-slash: "\e9f7";
$sg-icon-slash-divider: "\e9f8";
$sg-icon-sliders: "\e9f9";
$sg-icon-smartphone: "\e9fa";
$sg-icon-smile: "\e9fb";
$sg-icon-speaker: "\e9fc";
$sg-icon-square: "\e9fd";
$sg-icon-star: "\e9fe";
$sg-icon-stop-circle: "\e9ff";
$sg-icon-sun: "\ea00";
$sg-icon-sunrise: "\ea01";
$sg-icon-sunset: "\ea02";
$sg-icon-tablet: "\ea03";
$sg-icon-tag: "\ea04";
$sg-icon-target: "\ea05";
$sg-icon-terminal: "\ea06";
$sg-icon-thermometer: "\ea07";
$sg-icon-thumbs-down: "\ea08";
$sg-icon-thumbs-up: "\ea09";
$sg-icon-toggle-left: "\ea0a";
$sg-icon-toggle-right: "\ea0b";
$sg-icon-tool: "\ea0c";
$sg-icon-trash: "\ea0d";
$sg-icon-trash-2: "\ea0e";
$sg-icon-trello: "\ea0f";
$sg-icon-trending-down: "\ea10";
$sg-icon-trending-up: "\ea11";
$sg-icon-triangle: "\ea12";
$sg-icon-truck: "\ea13";
$sg-icon-tv: "\ea14";
$sg-icon-type: "\ea15";
$sg-icon-umbrella: "\ea16";
$sg-icon-underline: "\ea17";
$sg-icon-unlock: "\ea18";
$sg-icon-upload: "\ea19";
$sg-icon-upload-cloud: "\ea1a";
$sg-icon-user: "\ea1b";
$sg-icon-user-check: "\ea1c";
$sg-icon-user-minus: "\ea1d";
$sg-icon-user-plus: "\ea1e";
$sg-icon-users: "\ea1f";
$sg-icon-user-x: "\ea20";
$sg-icon-video: "\ea21";
$sg-icon-video-off: "\ea22";
$sg-icon-voicemail: "\ea23";
$sg-icon-volume: "\ea24";
$sg-icon-volume-1: "\ea25";
$sg-icon-volume-2: "\ea26";
$sg-icon-volume-x: "\ea27";
$sg-icon-watch: "\ea28";
$sg-icon-wifi: "\ea29";
$sg-icon-wifi-off: "\ea2a";
$sg-icon-wind: "\ea2b";
$sg-icon-x: "\ea2c";
$sg-icon-x-circle: "\ea2d";
$sg-icon-x-octagon: "\ea2e";
$sg-icon-x-square: "\ea2f";
$sg-icon-youtube: "\ea30";
$sg-icon-zap: "\ea31";
$sg-icon-zap-off: "\ea32";
$sg-icon-zoom-in: "\ea33";
$sg-icon-zoom-out: "\ea34";

