.sg--section--mainHero {
    height: 100vh;
    width: 100%;
    position: relative;
    min-height: 500px;

    &--inner {
        height: 75vh;
        min-height: 350px;
    }

    &-absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.10) 100%);
        }

        &--background {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & > div {
        height: 100%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 26px;
        height: 100%;
        position: relative;
        z-index: 1;

        &--header {
            color: var(--white, #FFF);
            text-align: center;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-family: "Source Serif 4", serif;
        }
    }

    @media (max-width: 992px) {
        & {
            height: 230px;
            min-height: unset;
            padding: 82px 0 20px !important;

            &--inner {
                height: 230px;
                min-height: unset;
            }

            &-content {
                gap: 8px;

                &--header {
                    color: var(--white, #FFF);
                    font-size: 20px;
                }
            }
        }
    }
}