.sg--button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 48px;
  gap: 4px;
  border: 1px solid currentColor;
  border-radius: 0;
  text-align: center;
  color: #3B3B3B;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: unset;
}
.sg--button::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sg-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: flex;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.sg--button:not(:disabled, .sg--button--disabled) {
  cursor: pointer;
}
.sg--button:hover {
  text-decoration: unset;
}
.sg--button--sm {
  padding: 10px 18px;
  font-size: 14px;
  line-height: 20px;
}
.sg--button--sm::before {
  font-size: 12px;
}
.sg--button--sm.sg--button--squared {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.sg--button--md {
  padding: 13px 48px;
  font-size: 16px;
  line-height: 20px;
}
.sg--button--md::before {
  font-size: 14px;
}
.sg--button--md.sg--button--squared {
  width: 48px;
  height: 48px;
  padding: 13px;
}
.sg--button--lg {
  padding: 23px 48px;
  font-size: 24px;
  line-height: 24px;
}
.sg--button--lg::before {
  font-size: 20px;
}
.sg--button--lg.sg--button--squared {
  width: 72px;
  height: 72px;
  padding: 23px;
}
.sg--button--primary {
  background-color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  color: var(--white, #FFFFFF);
}
.sg--button--primary:hover {
  background-color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  color: var(--white, #FFFFFF);
}
.sg--button--primary:focus {
  box-shadow: 0 0 0 4px #F4EBFF, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.sg--button--primary:disabled {
  background-color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  color: var(--white, #FFFFFF);
}
.sg--button--primary-outline {
  color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  background-color: var(--white, #FFFFFF);
}
.sg--button--primary-outline:hover {
  color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  background-color: var(--white, #FFFFFF);
}
.sg--button--primary-outline:focus {
  box-shadow: 0 0 0 4px #F4EBFF, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.sg--button--primary-outline:disabled {
  color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  background-color: var(--white, #FFFFFF);
}
.sg--button--black {
  background-color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  color: var(--white, #FFFFFF);
}
.sg--button--black:hover {
  background-color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  color: var(--white, #FFFFFF);
}
.sg--button--black:focus {
  box-shadow: 0 0 0 4px #F4EBFF, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.sg--button--black:disabled {
  background-color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  color: var(--white, #FFFFFF);
}
.sg--button--black-outline {
  color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  background-color: var(--white, #FFFFFF);
}
.sg--button--black-outline:hover {
  color: var(--hookerGreen-color, #44766C);
  border-color: var(--hookerGreen-color, #44766C);
  background-color: var(--white, #FFFFFF);
}
.sg--button--black-outline:focus {
  box-shadow: 0 0 0 4px #F4EBFF, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.sg--button--black-outline:disabled {
  color: var(--black, #231F20);
  border-color: var(--black, #231F20);
  background-color: var(--white, #FFFFFF);
}
.sg--button--squared {
  width: 46px;
  height: 46px;
  padding: 10px;
}
.sg--button--rounded {
  border-radius: 50%;
}
.sg--button--sharp {
  border-radius: 0;
}
.sg--button--full {
  width: 100%;
}
.sg--button--reverse {
  flex-direction: row-reverse;
}
.sg--button--underline {
  text-decoration: underline;
}
.sg--button--underline:hover {
  text-decoration: underline;
}
.sg--button--onlyIcon {
  font-size: 0;
  letter-spacing: 0;
  line-height: 1;
  gap: 0;
}
.sg--button--withOutBlock {
  padding: 0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  outline-color: transparent !important;
  box-shadow: none !important;
}
.sg--button--align-left {
  justify-content: flex-start;
  text-align: left;
}
.sg--button--align-right {
  justify-content: flex-end;
  text-align: right;
}
.sg--button--align-center {
  justify-content: center;
  text-align: center;
}

@media (min-width: 992.02px) {
  .sg--button--withOutBlock\:lg {
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    outline-color: transparent !important;
  }
  .sg--button--full\:lg {
    width: 100%;
  }
  .sg--button--align-left\:lg {
    justify-content: flex-start;
    text-align: left;
  }
  .sg--button--align-right\:lg {
    justify-content: flex-end;
    text-align: right;
  }
  .sg--button--align-center\:lg {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .sg--button--withOutBlock\:sm {
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
    outline-color: transparent !important;
  }
  .sg--button--full\:sm {
    width: 100%;
  }
  .sg--button--align-left\:sm {
    justify-content: flex-start;
    text-align: left;
  }
  .sg--button--align-right\:sm {
    justify-content: flex-end;
    text-align: right;
  }
  .sg--button--align-center\:sm {
    justify-content: center;
    text-align: center;
  }
}

/*# sourceMappingURL=Button.module.css.map */
