.sg--clubItem {
    position: relative;

    &-block {
        height: 100%;
        width: 100%;

        &-image {
            height: 100%;
            width: 100%;

            &--img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 20px 16px;
            gap: 16px;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.78) 100%);
            position: absolute;
            top: 0;
            left: 0;

            &--header {
                color: var(--white, #FFF);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 140% */
                font-family: "Source Serif 4", serif;
            }

            &-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                opacity: 0;
                height: 0;
                transition: all 0.3s;

                &--description {
                    color: var(--white, #FFF);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px; /* 157.143% */
                }

                .sg--clubItem:hover & {
                    height: 100%;
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 992px) {
        & {
            &-block {
                &-body {
                    &--header {
                        color: var(--white, #FFF);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 22px; /* 140% */
                        letter-spacing: 0.16px;
                    }
                }
            }
        }
    }
}