.sg--eventItem {
    display: flex;
    flex-direction: row;
    gap: 2px;

    &-date {
        width: 125px;
        background: var(--background, #F6F6F6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: "Source Serif 4", serif;

        .sg--eventItem:hover & {
            background: var(--burgundy-color, #902923);
        }

        &--day {
            color: var(--black, #262626);
            text-align: center;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.021%;

            .sg--eventItem:hover & {
                color: var(--white, #FFF);
            }
        }
        &--month {
            color: var(--black, #262626);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.021%;

            .sg--eventItem:hover & {
                color: var(--white, #FFF);
            }
        }
    }

    &-body {
        background: var(--background, #F6F6F6);
        display: flex;
        padding: 60px 30px;
        flex-direction: column;
        gap: 10px;
        width: calc(100% - 127px);

        .sg--eventItem:hover & {
            background: var(--burgundy-color, #902923);
        }

        &--header {
            color: var(--black, #262626);
            text-overflow: ellipsis;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: 0.2px;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-family: "Source Serif 4", serif;

            .sg--eventItem:hover & {
                color: var(--white, #FFF);
            }
        }

        &-additions {
            display: flex;
            flex-direction: row;
            gap: 16px;

            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                &--icon {
                    font-size: 16px;
                    color: var(--black, #262626);

                    .sg--eventItem:hover & {
                        color: var(--white, #FFF);
                    }
                }
                &--text {
                    color: var(--black, #262626);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    .sg--eventItem:hover & {
                        color: var(--white, #FFF);
                    }
                }
            }
        }


        .sg--eventItem:hover & a {
            color: var(--white, #FFF);
        }
    }



    @media (max-width: 992px) {
        & {
            &-date {
                width: 64px;

                &--day {
                    font-size: 32px;
                    line-height: 100%;
                }
                &--month {
                    font-size: 16px;
                    line-height: 100%;
                }
            }

            &-body {
                padding: 10px;
                width: calc(100% - 64px);

                &--header {
                    font-size: 16px;
                    line-height: 22px; /* 137.5% */
                    letter-spacing: 0.16px;

                    -webkit-line-clamp: unset;
                }

                &-additions {
                    flex-wrap: wrap;
                    row-gap: 8px;
                    column-gap: 16px;

                    &-item {
                        gap: 8px;

                        &--icon {
                            font-size: 14px;
                        }
                        &--text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}