.sg--contentBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -12px;
    margin-right: -12px;

    &--reverse {
        flex-direction: row-reverse;
    }

    &-image {
        padding-left: 12px;
        padding-right: 12px;
        width: 50%;
        flex: 1 0 50%;

        &--img {
            width: 100%;
        }
    }

    &-body {
        padding-left: 12px;
        padding-right: 12px;
        width: 50%;
        flex: 1 0 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        &--header {
            color: var(--black, #262626);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            font-family: "Source Serif 4", serif;
        }
        &--description {
            color: var(--gray-text, #707070);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px; /* 206.25% */

            & p,
            & span,
            & div {
                color: var(--gray-text, #707070) !important;
                font-size: 16px !important;
                font-style: normal !important;
                font-weight: 400 !important;
                line-height: 33px !important;
                font-family: "Inter", sans-serif !important;
            }
        }
    }

    @media (max-width: 992px) {
        & {
            flex-direction: column;
            align-items: unset;
            gap: 32px;

            &-image {
                width: 100%;
                flex: 1 0 100%;

                &--img {
                    width: 100%;
                }
            }

            &-body {
                width: 100%;
                flex: 1 0 100%;
                gap: 24px;

                &--header {
                    color: var(--black, #262626);
                    font-size: 20px;
                }
                &--description {
                    font-size: 14px;
                    line-height: 26px; /* 185.714% */
                }
            }
        }
    }
}