$icomoon-font-family: "sg-icons" !default;
$icomoon-font-path: "fonts" !default;

$sg-icon-awards: unquote('"\\ea26"');
$sg-icon-zoom-out: unquote('"\\e900"');
$sg-icon-zoom-in: unquote('"\\e901"');
$sg-icon-zap-off: unquote('"\\e902"');
$sg-icon-zap: unquote('"\\e903"');
$sg-icon-youtube: unquote('"\\e904"');
$sg-icon-x-square: unquote('"\\e905"');
$sg-icon-x-octagon: unquote('"\\e906"');
$sg-icon-x-circle: unquote('"\\e907"');
$sg-icon-x: unquote('"\\e908"');
$sg-icon-times: unquote('"\\e908"');
$sg-icon-wind: unquote('"\\e909"');
$sg-icon-wifi-off: unquote('"\\e90a"');
$sg-icon-wifi: unquote('"\\e90b"');
$sg-icon-watch: unquote('"\\e90c"');
$sg-icon-volume-x: unquote('"\\e90d"');
$sg-icon-volume-2: unquote('"\\e90e"');
$sg-icon-volume-1: unquote('"\\e90f"');
$sg-icon-volume: unquote('"\\e910"');
$sg-icon-voicemail: unquote('"\\e911"');
$sg-icon-video-off: unquote('"\\e912"');
$sg-icon-video: unquote('"\\e913"');
$sg-icon-user-x: unquote('"\\e914"');
$sg-icon-users: unquote('"\\e915"');
$sg-icon-user-plus: unquote('"\\e916"');
$sg-icon-user-minus: unquote('"\\e917"');
$sg-icon-user-check: unquote('"\\e918"');
$sg-icon-user: unquote('"\\e919"');
$sg-icon-upload-cloud: unquote('"\\e91a"');
$sg-icon-upload: unquote('"\\e91b"');
$sg-icon-unlock: unquote('"\\e91c"');
$sg-icon-underline: unquote('"\\e91d"');
$sg-icon-umbrella: unquote('"\\e91e"');
$sg-icon-type: unquote('"\\e91f"');
$sg-icon-twitter: unquote('"\\e920"');
$sg-icon-twitch: unquote('"\\e921"');
$sg-icon-tv: unquote('"\\e922"');
$sg-icon-truck: unquote('"\\e923"');
$sg-icon-triangle: unquote('"\\e924"');
$sg-icon-trending-up: unquote('"\\e925"');
$sg-icon-trending-down: unquote('"\\e926"');
$sg-icon-trello: unquote('"\\e927"');
$sg-icon-trash-2: unquote('"\\e928"');
$sg-icon-trash: unquote('"\\e929"');
$sg-icon-tool: unquote('"\\e92a"');
$sg-icon-toggle-right: unquote('"\\e92b"');
$sg-icon-toggle-left: unquote('"\\e92c"');
$sg-icon-thumbs-up: unquote('"\\e92d"');
$sg-icon-thumbs-down: unquote('"\\e92e"');
$sg-icon-thermometer: unquote('"\\e92f"');
$sg-icon-terminal: unquote('"\\e930"');
$sg-icon-target: unquote('"\\e931"');
$sg-icon-tag: unquote('"\\e932"');
$sg-icon-tablet: unquote('"\\e933"');
$sg-icon-sunset: unquote('"\\e934"');
$sg-icon-sunrise: unquote('"\\e935"');
$sg-icon-sun: unquote('"\\e936"');
$sg-icon-stop-circle: unquote('"\\e937"');
$sg-icon-star: unquote('"\\e938"');
$sg-icon-square: unquote('"\\e939"');
$sg-icon-speaker: unquote('"\\e93a"');
$sg-icon-smile: unquote('"\\e93b"');
$sg-icon-smartphone: unquote('"\\e93c"');
$sg-icon-sliders: unquote('"\\e93d"');
$sg-icon-slash-divider: unquote('"\\e93e"');
$sg-icon-slash: unquote('"\\e93f"');
$sg-icon-slack: unquote('"\\e940"');
$sg-icon-skip-forward: unquote('"\\e941"');
$sg-icon-skip-back: unquote('"\\e942"');
$sg-icon-sidebar: unquote('"\\e943"');
$sg-icon-shuffle: unquote('"\\e944"');
$sg-icon-shopping-cart: unquote('"\\e945"');
$sg-icon-shopping-bag: unquote('"\\e946"');
$sg-icon-shield-off: unquote('"\\e947"');
$sg-icon-shield: unquote('"\\e948"');
$sg-icon-share-2: unquote('"\\e949"');
$sg-icon-share: unquote('"\\e94a"');
$sg-icon-settings: unquote('"\\e94b"');
$sg-icon-server: unquote('"\\e94c"');
$sg-icon-send: unquote('"\\e94d"');
$sg-icon-search1: unquote('"\\e94e"');
$sg-icon-scissors: unquote('"\\e94f"');
$sg-icon-save: unquote('"\\e950"');
$sg-icon-rss: unquote('"\\e951"');
$sg-icon-rotate-cw: unquote('"\\e952"');
$sg-icon-rotate-ccw: unquote('"\\e953"');
$sg-icon-rocket: unquote('"\\e954"');
$sg-icon-rewind: unquote('"\\e955"');
$sg-icon-repeat: unquote('"\\e956"');
$sg-icon-refresh-cw: unquote('"\\e957"');
$sg-icon-refresh-ccw: unquote('"\\e958"');
$sg-icon-radio: unquote('"\\e959"');
$sg-icon-printer: unquote('"\\e95a"');
$sg-icon-power: unquote('"\\e95b"');
$sg-icon-pocket: unquote('"\\e95c"');
$sg-icon-plus-square: unquote('"\\e95d"');
$sg-icon-plus-circle: unquote('"\\e95e"');
$sg-icon-plus: unquote('"\\e95f"');
$sg-icon-play-circle: unquote('"\\e960"');
$sg-icon-play: unquote('"\\e961"');
$sg-icon-pie-chart: unquote('"\\e962"');
$sg-icon-phone-outgoing: unquote('"\\e963"');
$sg-icon-phone-off: unquote('"\\e964"');
$sg-icon-phone-missed: unquote('"\\e965"');
$sg-icon-phone-incoming: unquote('"\\e966"');
$sg-icon-phone-forwarded: unquote('"\\e967"');
$sg-icon-phone-call: unquote('"\\e968"');
$sg-icon-phone1: unquote('"\\e969"');
$sg-icon-percent: unquote('"\\e96a"');
$sg-icon-pen-tool: unquote('"\\e96b"');
$sg-icon-pause-circle: unquote('"\\e96c"');
$sg-icon-pause: unquote('"\\e96d"');
$sg-icon-paperclip: unquote('"\\e96e"');
$sg-icon-package: unquote('"\\e96f"');
$sg-icon-octagon: unquote('"\\e970"');
$sg-icon-navigation-2: unquote('"\\e971"');
$sg-icon-navigation: unquote('"\\e972"');
$sg-icon-music: unquote('"\\e973"');
$sg-icon-move: unquote('"\\e974"');
$sg-icon-mouse-pointer: unquote('"\\e975"');
$sg-icon-more-vertical: unquote('"\\e976"');
$sg-icon-more-horizontal: unquote('"\\e977"');
$sg-icon-moon: unquote('"\\e978"');
$sg-icon-monitor: unquote('"\\e979"');
$sg-icon-minus-square: unquote('"\\e97a"');
$sg-icon-minus-circle: unquote('"\\e97b"');
$sg-icon-minus: unquote('"\\e97c"');
$sg-icon-minimize-2: unquote('"\\e97d"');
$sg-icon-minimize: unquote('"\\e97e"');
$sg-icon-mic-off: unquote('"\\e97f"');
$sg-icon-mic: unquote('"\\e980"');
$sg-icon-message-square: unquote('"\\e981"');
$sg-icon-message-circle: unquote('"\\e982"');
$sg-icon-menu-2: unquote('"\\e983"');
$sg-icon-menu: unquote('"\\e984"');
$sg-icon-meh: unquote('"\\e985"');
$sg-icon-maximize-2: unquote('"\\e986"');
$sg-icon-maximize: unquote('"\\e987"');
$sg-icon-map-pin: unquote('"\\e988"');
$sg-icon-map: unquote('"\\e989"');
$sg-icon-mail1: unquote('"\\e98a"');
$sg-icon-log-out: unquote('"\\e98b"');
$sg-icon-log-in: unquote('"\\e98c"');
$sg-icon-lock: unquote('"\\e98d"');
$sg-icon-loader: unquote('"\\e98e"');
$sg-icon-list: unquote('"\\e98f"');
$sg-icon-linkedin1: unquote('"\\e990"');
$sg-icon-link-2: unquote('"\\e991"');
$sg-icon-link: unquote('"\\e992"');
$sg-icon-life-buoy: unquote('"\\e993"');
$sg-icon-layout: unquote('"\\e994"');
$sg-icon-key: unquote('"\\e995"');
$sg-icon-italic: unquote('"\\e996"');
$sg-icon-instagram1: unquote('"\\e997"');
$sg-icon-info: unquote('"\\e998"');
$sg-icon-inbox: unquote('"\\e999"');
$sg-icon-image: unquote('"\\e99a"');
$sg-icon-home: unquote('"\\e99b"');
$sg-icon-hexagon: unquote('"\\e99c"');
$sg-icon-help-circle: unquote('"\\e99d"');
$sg-icon-heart: unquote('"\\e99e"');
$sg-icon-headphones: unquote('"\\e99f"');
$sg-icon-hash: unquote('"\\e9a0"');
$sg-icon-hard-drive: unquote('"\\e9a1"');
$sg-icon-grid: unquote('"\\e9a2"');
$sg-icon-globe: unquote('"\\e9a3"');
$sg-icon-git-pull-request: unquote('"\\e9a4"');
$sg-icon-git-merge: unquote('"\\e9a5"');
$sg-icon-gitlab: unquote('"\\e9a6"');
$sg-icon-github: unquote('"\\e9a7"');
$sg-icon-git-commit: unquote('"\\e9a8"');
$sg-icon-git-branch: unquote('"\\e9a9"');
$sg-icon-gift: unquote('"\\e9aa"');
$sg-icon-frown: unquote('"\\e9ab"');
$sg-icon-framer: unquote('"\\e9ac"');
$sg-icon-folder-plus: unquote('"\\e9ad"');
$sg-icon-folder-minus: unquote('"\\e9ae"');
$sg-icon-folder: unquote('"\\e9af"');
$sg-icon-flag: unquote('"\\e9b0"');
$sg-icon-Filters-lines: unquote('"\\e9b1"');
$sg-icon-filter: unquote('"\\e9b2"');
$sg-icon-film: unquote('"\\e9b3"');
$sg-icon-file-text: unquote('"\\e9b4"');
$sg-icon-file-plus: unquote('"\\e9b5"');
$sg-icon-file-minus: unquote('"\\e9b6"');
$sg-icon-file: unquote('"\\e9b7"');
$sg-icon-figma: unquote('"\\e9b8"');
$sg-icon-feather: unquote('"\\e9b9"');
$sg-icon-fast-forward: unquote('"\\e9ba"');
$sg-icon-facebook: unquote('"\\e9bb"');
$sg-icon-eye-off: unquote('"\\e9bc"');
$sg-icon-eye: unquote('"\\e9bd"');
$sg-icon-external-link: unquote('"\\e9be"');
$sg-icon-edit-3: unquote('"\\e9bf"');
$sg-icon-edit-2: unquote('"\\e9c0"');
$sg-icon-edit: unquote('"\\e9c1"');
$sg-icon-droplet: unquote('"\\e9c2"');
$sg-icon-dribbble: unquote('"\\e9c3"');
$sg-icon-download-cloud: unquote('"\\e9c4"');
$sg-icon-download: unquote('"\\e9c5"');
$sg-icon-dollar-sign: unquote('"\\e9c6"');
$sg-icon-divide-square: unquote('"\\e9c7"');
$sg-icon-divide-circle: unquote('"\\e9c8"');
$sg-icon-divide: unquote('"\\e9c9"');
$sg-icon-disc: unquote('"\\e9ca"');
$sg-icon-delete: unquote('"\\e9cb"');
$sg-icon-database: unquote('"\\e9cc"');
$sg-icon-crosshair: unquote('"\\e9cd"');
$sg-icon-crop: unquote('"\\e9ce"');
$sg-icon-credit-card: unquote('"\\e9cf"');
$sg-icon-cpu: unquote('"\\e9d0"');
$sg-icon-corner-up-right: unquote('"\\e9d1"');
$sg-icon-corner-up-left: unquote('"\\e9d2"');
$sg-icon-corner-right-up: unquote('"\\e9d3"');
$sg-icon-corner-right-down: unquote('"\\e9d4"');
$sg-icon-corner-left-up: unquote('"\\e9d5"');
$sg-icon-corner-left-down: unquote('"\\e9d6"');
$sg-icon-corner-down-right: unquote('"\\e9d7"');
$sg-icon-corner-down-left: unquote('"\\e9d8"');
$sg-icon-copy: unquote('"\\e9d9"');
$sg-icon-compass: unquote('"\\e9da"');
$sg-icon-command: unquote('"\\e9db"');
$sg-icon-columns: unquote('"\\e9dc"');
$sg-icon-coin-stack: unquote('"\\e9dd"');
$sg-icon-coins: unquote('"\\e9de"');
$sg-icon-coffee: unquote('"\\e9df"');
$sg-icon-codesandbox: unquote('"\\e9e0"');
$sg-icon-codepen: unquote('"\\e9e1"');
$sg-icon-code: unquote('"\\e9e2"');
$sg-icon-cloud-snow: unquote('"\\e9e3"');
$sg-icon-cloud-rain: unquote('"\\e9e4"');
$sg-icon-cloud-off: unquote('"\\e9e5"');
$sg-icon-cloud-lightning: unquote('"\\e9e6"');
$sg-icon-cloud-drizzle: unquote('"\\e9e7"');
$sg-icon-cloud: unquote('"\\e9e8"');
$sg-icon-clock: unquote('"\\e9e9"');
$sg-icon-clipboard: unquote('"\\e9ea"');
$sg-icon-circle: unquote('"\\e9eb"');
$sg-icon-chrome: unquote('"\\e9ec"');
$sg-icon-chevron-up: unquote('"\\e9ed"');
$sg-icon-chevrons-up: unquote('"\\e9ee"');
$sg-icon-chevrons-right: unquote('"\\e9ef"');
$sg-icon-chevrons-left: unquote('"\\e9f0"');
$sg-icon-chevrons-down: unquote('"\\e9f1"');
$sg-icon-chevron-right: unquote('"\\e9f2"');
$sg-icon-chevron-left: unquote('"\\e9f3"');
$sg-icon-chevron-down: unquote('"\\e9f4"');
$sg-icon-check-square: unquote('"\\e9f5"');
$sg-icon-check-circle: unquote('"\\e9f6"');
$sg-icon-check: unquote('"\\e9f7"');
$sg-icon-cast: unquote('"\\e9f8"');
$sg-icon-camera-off: unquote('"\\e9f9"');
$sg-icon-camera: unquote('"\\e9fa"');
$sg-icon-calendar1: unquote('"\\e9fb"');
$sg-icon-building-08: unquote('"\\e9fc"');
$sg-icon-briefcase: unquote('"\\e9fd"');
$sg-icon-box: unquote('"\\e9fe"');
$sg-icon-book-open: unquote('"\\e9ff"');
$sg-icon-bookmark: unquote('"\\ea00"');
$sg-icon-book: unquote('"\\ea01"');
$sg-icon-bold: unquote('"\\ea02"');
$sg-icon-bluetooth: unquote('"\\ea03"');
$sg-icon-bell-off: unquote('"\\ea04"');
$sg-icon-bell: unquote('"\\ea05"');
$sg-icon-battery-charging: unquote('"\\ea06"');
$sg-icon-battery: unquote('"\\ea07"');
$sg-icon-bar-chart-2: unquote('"\\ea08"');
$sg-icon-bar-chart: unquote('"\\ea09"');
$sg-icon-award: unquote('"\\ea0a"');
$sg-icon-at-sign: unquote('"\\ea0b"');
$sg-icon-arrow-up-right: unquote('"\\ea0c"');
$sg-icon-arrow-up-left: unquote('"\\ea0d"');
$sg-icon-arrow-up-circle: unquote('"\\ea0e"');
$sg-icon-arrow-up: unquote('"\\ea0f"');
$sg-icon-arrow-right-circle: unquote('"\\ea10"');
$sg-icon-arrow-right: unquote('"\\ea11"');
$sg-icon-arrow-left-circle: unquote('"\\ea12"');
$sg-icon-arrow-left: unquote('"\\ea13"');
$sg-icon-arrow-down-right: unquote('"\\ea14"');
$sg-icon-arrow-down-left: unquote('"\\ea15"');
$sg-icon-arrow-down-circle: unquote('"\\ea16"');
$sg-icon-arrow-down: unquote('"\\ea17"');
$sg-icon-archive: unquote('"\\ea18"');
$sg-icon-aperture: unquote('"\\ea19"');
$sg-icon-anchor: unquote('"\\ea1a"');
$sg-icon-align-right: unquote('"\\ea1b"');
$sg-icon-align-left: unquote('"\\ea1c"');
$sg-icon-align-justify: unquote('"\\ea1d"');
$sg-icon-align-center: unquote('"\\ea1e"');
$sg-icon-alert-triangle: unquote('"\\ea1f"');
$sg-icon-alert-octagon: unquote('"\\ea20"');
$sg-icon-alert-circle: unquote('"\\ea21"');
$sg-icon-airplay: unquote('"\\ea22"');
$sg-icon-activity: unquote('"\\ea23"');
$sg-icon-layers: unquote('"\\ea24"');
$sg-icon-layers1: unquote('"\\ea25"');
$sg-icon-calendar_2: unquote('"\\ea27"');
$sg-icon-url: unquote('"\\ea28"');
$sg-icon-mail: unquote('"\\ea29"');
$sg-icon-location: unquote('"\\ea2a"');
$sg-icon-phone: unquote('"\\ea2b"');
$sg-icon-search: unquote('"\\ea2c"');
$sg-icon-tg: unquote('"\\ea2d"');
$sg-icon-tg_circle: unquote('"\\ea2e"');
$sg-icon-vp: unquote('"\\ea2f"');
$sg-icon-vp_circle: unquote('"\\ea30"');
$sg-icon-arrow_right: unquote('"\\ea31"');
$sg-icon-arrow_top: unquote('"\\ea32"');
$sg-icon-arrow_left: unquote('"\\ea33"');
$sg-icon-arrow_bottom: unquote('"\\ea34"');
$sg-icon-arrow_chevron_right: unquote('"\\ea35"');
$sg-icon-arrow_left1: unquote('"\\ea36"');
$sg-icon-arrow_bottom1: unquote('"\\ea37"');
$sg-icon-arrow_right1: unquote('"\\ea38"');
$sg-icon-arrow_top1: unquote('"\\ea39"');
$sg-icon-calendar: unquote('"\\ea3a"');
$sg-icon-instagram: unquote('"\\ea3b"');
$sg-icon-instagram_circle: unquote('"\\ea3c"');
$sg-icon-linkedin: unquote('"\\ea3d"');
$sg-icon-linkedin_circle: unquote('"\\ea3e"');

