.sg--template--header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;

    &-block {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;

        &-logo {
            height: 100px;
            display: none;

            &--img {
                height: 100%;
                width: 100%;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-minor {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: var(--hookerGreen-color, #44766C);

                &-menu {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    margin-left: auto;

                    &-item {
                        &--link {
                            display: flex !important;
                            justify-content: space-between;
                            color: var(--white, #FFF);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 171.429% */
                            cursor: pointer;
                        }

                        &-subMenu {
                            padding: 0 16px;

                            &-item {}
                        }
                    }
                }
            }

            &-main {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: var(--white, #FFFFFF);

                &-logo {
                    height: 70px;

                    &--img {
                        height: 100%;
                        width: 100%;
                    }
                }

                &-menu {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    &-item {
                        &--link {
                            display: flex !important;
                            justify-content: space-between;
                            color: var(--black, #231F20);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px; /* 150% */
                            cursor: pointer;
                        }

                        &-subMenu {
                            padding: 0 16px;

                            &-item {}
                        }
                    }
                }
            }
        }

        &-mobile {
            display: none;

            &-menu {
                display: flex;
                flex-direction: row;
                gap: 16px;

                &-item {
                    &--link {
                        display: block;
                        color: var(--white, #FFF);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 171.429% */
                        cursor: pointer;
                    }

                    &-subMenu {
                        &-item {}
                    }
                }
            }
        }

        &-searchBox {
            position: absolute;
            top: calc(100% + 50px);
            left: 0;
            right: 0;

            display: flex;
            flex-direction: row;
            gap: 24px;
        }
    }

    @media (max-width: 992px) {
        & {
            padding: 24px 12px;
            top: 0;
            background: var(--brunswickGreen-color, #225449);

            &--sidebar {
                background: var(--burgundy-color, #902923);
            }

            &--searchbar {
                background: var(--burgundy-color, #902923);
            }

            &-block {
                gap: 24px;
                align-items: center;
                justify-content: space-between;

                &-logo {
                    height: 42px;
                    display: inline-block;
                    margin-right: auto;
                    width: auto;

                    &--img {
                        width: auto;
                        height: 100%;
                    }
                }

                &-body {
                    border-top: 0.2px solid var(--stroke, #CCC);
                    flex-direction: column;
                    margin-left: auto;
                    gap: 12px;
                    position: absolute;
                    top: calc(100% + 24px);
                    width: calc(100% + 24px);
                    height: calc(100vh - 82px);
                    background: var(--burgundy-color, #902923);
                    left: calc(-100% - 36px);
                    overflow: scroll;

                    .sg--template--header--sidebar & {
                        left: -12px;
                    }

                    .sg--template--header--searchbar & {
                        left: -12px;
                    }

                    &-minor {
                        order: 2;
                        margin-left: unset;
                        padding: 16px;
                        display: none;

                        .sg--template--header--sidebar & {
                            display: block;
                        }

                        &-menu {
                            flex-direction: column;
                            gap: 16px;

                            &-item {
                                &--link {
                                    padding: 0;
                                    color: var(--white, #FFF);
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px; /* 171.429% */
                                    cursor: pointer;
                                }

                                &-subMenu {
                                    &-item {}
                                }
                            }
                        }
                    }

                    &-main {
                        order: 1;
                        display: none;
                        background: unset;

                        &-logo {
                            display: none;
                        }

                        .sg--template--header--sidebar & {
                            display: block;
                        }

                        &-menu {
                            flex-direction: column;
                            gap: 0;

                            &-item {
                                &--link {
                                    border-bottom: 0.2px solid var(--stroke, #CCC);
                                    padding: 20px 16px;
                                    color: var(--white, #FFF);
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px; /* 150% */
                                    cursor: pointer;
                                }

                                &-subMenu {
                                    &-item {}
                                }
                            }
                        }
                    }
                }

                &-mobile {
                    display: block;
                    margin-left: auto;
                }

                &-searchBox {
                    gap: 16px;
                }
            }
        }
    }
}