:root {
    --Dark-grey: #1B1B1B;
    --Light-gray: #F2F2F2;
    --stroke: #CCC;
    --white: #FFF;
    --black: #231F20;
    --burgundy-color: #44766C;
    --background: #F6F6F6;
    --gray-text: #707070;
}
