.sg--buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--gap {
        gap: 8px;
    }

    &:not(&--gap) > * {
        &:not(:last-child, :first-child) {
            border-radius: 0;
            margin-left: -1px;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}